{% extends 'base.html' %}

{% block title %}{{ user.name }}{% endblock %}

{% block profile %}
    <a class="nav-link" href="{% url 'adminhome' %}">Back</a>
{% endblock %}

{% block name %}{{ user.name }}{% endblock %}

{% block content %}
<div class="card mx-auto" style="max-width: 600px;">
    <h2 class="card-title text-center mb-4"style="margin:20px">Blog</h2>
    <form method="POST">
        {% csrf_token %}

        <!-- Title -->
        <div class="mb-3" style="margin:20px">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="Enter your title" required>
        </div>

        <!-- Content -->
        <div class="mb-3"  style="margin:20px">
            <label for="content" class="form-label">Content</label>
            <textarea class="form-control" id="content" name="content" rows="4" placeholder="Enter your content" required></textarea>
        </div>

        <!-- Submit Button -->
        <div class="d-flex justify-content-center" style="margin:20px;">
            <button type="submit" class="btn btn-primary w-50">Post</button>
        </div>
    </form>

</div>
{% endblock %}
